USE [master]
GO
/****** Object:  Database [Teler]    Script Date: 5/21/2019 1:21:48 PM ******/
CREATE DATABASE [Teler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Teler', FILENAME = N'C:\Users\muskan06.TRN\Teler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Teler_log', FILENAME = N'C:\Users\muskan06.TRN\Teler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Teler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Teler]
GO
USE [Teler]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_CheckEmailId]    Script Date: 5/21/2019 1:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[ufn_CheckEmailId]
(
	@EmailId VARCHAR(50)
)
RETURNS BIT
AS
BEGIN
	
	DECLARE @ReturnValue BIT
	
	IF NOT EXISTS (SELECT EmailId FROM Users WHERE EmailId=@EmailId)
		SET @ReturnValue=1
	
	ELSE SET @ReturnValue=0
	
	RETURN @ReturnValue

END
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GenerateNewCategoryId]    Script Date: 5/21/2019 1:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[ufn_GenerateNewCategoryId]()
RETURNS INT
AS
BEGIN

	DECLARE @CategoryId INT
	
	IF NOT EXISTS(SELECT ProductId FROM Products)
		SET @CategoryId ='1'
		
	ELSE
		SELECT @CategoryId =MAX(CategoryId)+1 FROM Categories

	RETURN @CategoryId 
	
END
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GenerateNewProductId]    Script Date: 5/21/2019 1:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[ufn_GenerateNewProductId]()
RETURNS CHAR(4)
AS
BEGIN

	DECLARE @ProductId CHAR(4)
	
	IF NOT EXISTS(SELECT ProductId FROM Products)
		SET @ProductId='P100'
		
	ELSE
		SELECT @ProductId='P'+CAST(CAST(SUBSTRING(MAX(ProductId),2,3) AS INT)+1 AS CHAR) FROM Products

	RETURN @ProductId
	
END
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_ValidateUserCredentials]    Script Date: 5/21/2019 1:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[ufn_ValidateUserCredentials]
(
                @EmailId VARCHAR(50),
                @UserPassword VARCHAR(15)
)
RETURNS INT
AS
BEGIN
DECLARE @RoleId INT

                                SELECT @RoleId=RoleId FROM Users WHERE EmailId=@EmailId AND UserPassword=@UserPassword
                                
                                RETURN @RoleId
END
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/21/2019 1:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [tinyint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](20) NOT NULL,
 CONSTRAINT [pk_CategoryId] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetCategories]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[ufn_GetCategories]()
RETURNS TABLE 
AS
	RETURN (SELECT * FROM Categories)
GO
/****** Object:  Table [dbo].[CardDetails]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardDetails](
	[CardNumber] [numeric](16, 0) NOT NULL,
	[NameOnCard] [varchar](40) NOT NULL,
	[CardType] [char](6) NOT NULL,
	[CVVNumber] [numeric](3, 0) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[Balance] [decimal](10, 2) NULL,
 CONSTRAINT [pk_CardNumber] PRIMARY KEY CLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetCardDetails]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[ufn_GetCardDetails](@CardNumber NUMERIC(16))
RETURNS TABLE 
AS
	RETURN (SELECT NameOnCard,CardType,CVVNumber,ExpiryDate,Balance FROM CardDetails WHERE CardNumber=@CardNumber)
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [char](4) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[CategoryId] [tinyint] NULL,
	[Price] [numeric](8, 0) NOT NULL,
	[QuantityAvailable] [int] NOT NULL,
 CONSTRAINT [pk_ProductId] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetProductDetails]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[ufn_GetProductDetails](@CategoryId INT)
RETURNS TABLE 
AS
RETURN (SELECT ProductId,ProductName,Price,QuantityAvailable FROM Products WHERE CategoryId=@CategoryId)
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](15) NOT NULL,
	[BranchId] [tinyint] NOT NULL,
	[Balance] [money] NOT NULL,
	[LockedBalance] [money] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedTimestamp] [datetime2](7) NULL,
	[CreatedBy] [tinyint] NULL,
	[ModifiedTimestamp] [datetime2](7) NULL,
	[ModifiedBy] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountCustomerMapping]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountCustomerMapping](
	[AccountCustomerMappingId] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](15) NOT NULL,
	[CustomerId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountCustomerMappingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchId] [tinyint] IDENTITY(1,1) NOT NULL,
	[IFSC] [varchar](11) NOT NULL,
	[BranchName] [varchar](50) NOT NULL,
	[BranchCode] [varchar](6) NOT NULL,
 CONSTRAINT [pk_Branch_BranchId] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [bigint] IDENTITY(1000000001,1) NOT NULL,
	[EmailId] [varchar](255) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[CreatedTimeStamp] [datetime2](7) NOT NULL,
	[CreatedBy] [tinyint] NOT NULL,
	[ModifiedTimeStamp] [datetime2](7) NULL,
	[ModifiedBy] [tinyint] NULL,
 CONSTRAINT [pk_Customer_CustomeId] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerLogin]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerLogin](
	[CustomerLoginId] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [varchar](20) NOT NULL,
	[Password] [varbinary](300) NOT NULL,
	[CustomerId] [bigint] NOT NULL,
	[IsLocked] [int] NOT NULL,
	[ModifiedTimestamp] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerLoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DebitCard]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DebitCard](
	[DebitCardId] [int] IDENTITY(1,1) NOT NULL,
	[DebitCardNumber] [varchar](16) NOT NULL,
	[AccountCustomerMappingId] [int] NOT NULL,
	[CVV] [varbinary](300) NOT NULL,
	[ValidFrom] [smalldatetime] NOT NULL,
	[ValidThru] [smalldatetime] NOT NULL,
	[PIN] [varbinary](300) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedTimestamp] [datetime2](7) NOT NULL,
	[CreatedBy] [tinyint] NOT NULL,
	[ModifiedTimestamp] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DebitCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseDetails]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDetails](
	[PurchaseId] [bigint] IDENTITY(1000,1) NOT NULL,
	[EmailId] [varchar](50) NULL,
	[Product] [char](4) NULL,
	[QuantityPurchased] [smallint] NOT NULL,
	[DateOfPurchase] [datetime] NOT NULL,
 CONSTRAINT [pk_PurchaseId] PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [tinyint] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](20) NULL,
 CONSTRAINT [pk_RoleId] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teller]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teller](
	[TellerId] [tinyint] IDENTITY(1,1) NOT NULL,
	[LoginName] [varchar](5) NOT NULL,
	[Password] [varbinary](100) NOT NULL,
 CONSTRAINT [pk_Teller_TellerId] PRIMARY KEY CLUSTERED 
(
	[TellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionId] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](15) NOT NULL,
	[Amount] [money] NOT NULL,
	[TransactionDateTime] [smalldatetime] NOT NULL,
	[Type] [bit] NOT NULL,
	[Mode] [varchar](20) NOT NULL,
	[Remarks] [varchar](30) NULL,
	[Info] [varchar](200) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[Location] [varchar](20) NOT NULL,
	[Limit] [int] NULL,
	[IP_ADDRESS] [varchar](20) NOT NULL,
	[ZIPCODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/21/2019 1:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[EmailId] [varchar](50) NOT NULL,
	[UserPassword] [varchar](15) NOT NULL,
	[RoleId] [tinyint] NULL,
	[Gender] [char](1) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[Location] [varchar](10) NOT NULL,
	[Security_Answer] [varchar](10) NOT NULL,
	[Security_Pin] [int] NOT NULL,
	[Contact_No] [bigint] NOT NULL,
	[ZIPCODE] [int] NOT NULL,
 CONSTRAINT [pk_EmailId] PRIMARY KEY CLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountId], [AccountNumber], [BranchId], [Balance], [LockedBalance], [IsActive], [CreatedTimestamp], [CreatedBy], [ModifiedTimestamp], [ModifiedBy]) VALUES (1, N'007066100000001', 1, 0.0000, 0.0000, 1, CAST(N'2019-04-16T16:08:36.0400000' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[Account] ([AccountId], [AccountNumber], [BranchId], [Balance], [LockedBalance], [IsActive], [CreatedTimestamp], [CreatedBy], [ModifiedTimestamp], [ModifiedBy]) VALUES (2, N'007066100000002', 1, 0.0000, 0.0000, 1, CAST(N'2019-04-16T16:08:36.0400000' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[Account] ([AccountId], [AccountNumber], [BranchId], [Balance], [LockedBalance], [IsActive], [CreatedTimestamp], [CreatedBy], [ModifiedTimestamp], [ModifiedBy]) VALUES (3, N'007066100000003', 1, 0.0000, 0.0000, 1, CAST(N'2019-04-16T16:08:36.0400000' AS DateTime2), 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[AccountCustomerMapping] ON 

INSERT [dbo].[AccountCustomerMapping] ([AccountCustomerMappingId], [AccountNumber], [CustomerId], [IsActive]) VALUES (1, N'007066100000001', 1000000001, 1)
INSERT [dbo].[AccountCustomerMapping] ([AccountCustomerMappingId], [AccountNumber], [CustomerId], [IsActive]) VALUES (2, N'007066100000002', 1000000002, 1)
INSERT [dbo].[AccountCustomerMapping] ([AccountCustomerMappingId], [AccountNumber], [CustomerId], [IsActive]) VALUES (3, N'007066100000003', 1000000003, 1)
GO
SET IDENTITY_INSERT [dbo].[AccountCustomerMapping] OFF
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([BranchId], [IFSC], [BranchName], [BranchCode]) VALUES (1, N'EDUB0007066', N'Beberibe', N'007066')
INSERT [dbo].[Branch] ([BranchId], [IFSC], [BranchName], [BranchCode]) VALUES (2, N'EDUB0007067', N'Handaqi', N'007067')
INSERT [dbo].[Branch] ([BranchId], [IFSC], [BranchName], [BranchCode]) VALUES (3, N'EDUB0007068', N'Siverskiy', N'007068')
SET IDENTITY_INSERT [dbo].[Branch] OFF
INSERT [dbo].[CardDetails] ([CardNumber], [NameOnCard], [CardType], [CVVNumber], [ExpiryDate], [Balance]) VALUES (CAST(1146665296881890 AS Numeric(16, 0)), N'Manuel', N'M     ', CAST(137 AS Numeric(3, 0)), CAST(N'2025-03-18' AS Date), CAST(3690.00 AS Decimal(10, 2)))
INSERT [dbo].[CardDetails] ([CardNumber], [NameOnCard], [CardType], [CVVNumber], [ExpiryDate], [Balance]) VALUES (CAST(1164283045453550 AS Numeric(16, 0)), N'Renate Messner', N'V     ', CAST(133 AS Numeric(3, 0)), CAST(N'2028-01-08' AS Date), CAST(6982.00 AS Decimal(10, 2)))
INSERT [dbo].[CardDetails] ([CardNumber], [NameOnCard], [CardType], [CVVNumber], [ExpiryDate], [Balance]) VALUES (CAST(1164916976389880 AS Numeric(16, 0)), N'Rita', N'M     ', CAST(588 AS Numeric(3, 0)), CAST(N'2025-07-28' AS Date), CAST(18570.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (4, N'Arts')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (8, N'Books')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'Electronics')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [EmailId], [Name], [DateOfBirth], [CreatedTimeStamp], [CreatedBy], [ModifiedTimeStamp], [ModifiedBy]) VALUES (1000000001, N'mvanyashkin0@fastcompany.com', N'Melanie Vanyashkin', CAST(N'1993-09-01' AS Date), CAST(N'2019-04-16T16:08:35.6900000' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[Customer] ([CustomerId], [EmailId], [Name], [DateOfBirth], [CreatedTimeStamp], [CreatedBy], [ModifiedTimeStamp], [ModifiedBy]) VALUES (1000000002, N'rstraun1@nydailynews.com', N'Ranique Straun', CAST(N'1992-08-08' AS Date), CAST(N'2019-04-16T16:08:35.6933333' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[Customer] ([CustomerId], [EmailId], [Name], [DateOfBirth], [CreatedTimeStamp], [CreatedBy], [ModifiedTimeStamp], [ModifiedBy]) VALUES (1000000003, N'pkahler2@ameblo.jp', N'Patten Kahler', CAST(N'1994-03-13' AS Date), CAST(N'2019-04-16T16:08:35.6966667' AS DateTime2), 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[CustomerLogin] ON 

INSERT [dbo].[CustomerLogin] ([CustomerLoginId], [LoginName], [Password], [CustomerId], [IsLocked], [ModifiedTimestamp]) VALUES (1, N'MelanieV', 0x395158577A5921426D304A, 1000000001, 0, NULL)
INSERT [dbo].[CustomerLogin] ([CustomerLoginId], [LoginName], [Password], [CustomerId], [IsLocked], [ModifiedTimestamp]) VALUES (2, N'RaniqueS', 0x5A4D37307321436E5A72354B, 1000000002, 0, NULL)
INSERT [dbo].[CustomerLogin] ([CustomerLoginId], [LoginName], [Password], [CustomerId], [IsLocked], [ModifiedTimestamp]) VALUES (3, N'PattenK', 0x69356856644F2A6763516566, 1000000003, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[CustomerLogin] OFF
SET IDENTITY_INSERT [dbo].[DebitCard] ON 

INSERT [dbo].[DebitCard] ([DebitCardId], [DebitCardNumber], [AccountCustomerMappingId], [CVV], [ValidFrom], [ValidThru], [PIN], [IsLocked], [IsActive], [CreatedTimestamp], [CreatedBy], [ModifiedTimestamp]) VALUES (1, N'5166000070660005', 1, 0x343434, CAST(N'2019-04-16T16:09:00' AS SmallDateTime), CAST(N'2019-04-16T16:09:00' AS SmallDateTime), 0x37393738, 0, 1, CAST(N'2019-04-16T16:08:36.3866667' AS DateTime2), 1, NULL)
INSERT [dbo].[DebitCard] ([DebitCardId], [DebitCardNumber], [AccountCustomerMappingId], [CVV], [ValidFrom], [ValidThru], [PIN], [IsLocked], [IsActive], [CreatedTimestamp], [CreatedBy], [ModifiedTimestamp]) VALUES (2, N'5166000070660017', 2, 0x343431, CAST(N'2019-04-16T16:09:00' AS SmallDateTime), CAST(N'2019-04-16T16:09:00' AS SmallDateTime), 0x37383739, 0, 1, CAST(N'2019-04-16T16:08:36.3900000' AS DateTime2), 1, NULL)
INSERT [dbo].[DebitCard] ([DebitCardId], [DebitCardNumber], [AccountCustomerMappingId], [CVV], [ValidFrom], [ValidThru], [PIN], [IsLocked], [IsActive], [CreatedTimestamp], [CreatedBy], [ModifiedTimestamp]) VALUES (3, N'5166000070660029', 3, 0x333035, CAST(N'2019-04-16T16:09:00' AS SmallDateTime), CAST(N'2019-04-16T16:09:00' AS SmallDateTime), 0x36373235, 0, 1, CAST(N'2019-04-16T16:08:36.3900000' AS DateTime2), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[DebitCard] OFF
INSERT [dbo].[Products] ([ProductId], [ProductName], [CategoryId], [Price], [QuantityAvailable]) VALUES (N'P101', N'Lamborghini Gallardo Spyder', 1, CAST(18000 AS Numeric(8, 0)), 10)
INSERT [dbo].[Products] ([ProductId], [ProductName], [CategoryId], [Price], [QuantityAvailable]) VALUES (N'P102', N'BMW X1', 1, CAST(3390000 AS Numeric(8, 0)), 10)
INSERT [dbo].[Products] ([ProductId], [ProductName], [CategoryId], [Price], [QuantityAvailable]) VALUES (N'P103', N'BMW Z4', 1, CAST(6890000 AS Numeric(8, 0)), 10)
SET IDENTITY_INSERT [dbo].[PurchaseDetails] ON 

INSERT [dbo].[PurchaseDetails] ([PurchaseId], [EmailId], [Product], [QuantityPurchased], [DateOfPurchase]) VALUES (1001, N'Franken@gmail.com', N'P101', 2, CAST(N'2014-01-12T00:00:00.000' AS DateTime))
INSERT [dbo].[PurchaseDetails] ([PurchaseId], [EmailId], [Product], [QuantityPurchased], [DateOfPurchase]) VALUES (1002, N'Franken@gmail.com', N'P143', 1, CAST(N'2014-01-13T00:00:00.000' AS DateTime))
INSERT [dbo].[PurchaseDetails] ([PurchaseId], [EmailId], [Product], [QuantityPurchased], [DateOfPurchase]) VALUES (1003, N'Franken@gmail.com', N'P112', 3, CAST(N'2014-01-14T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PurchaseDetails] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Teller] ON 

INSERT [dbo].[Teller] ([TellerId], [LoginName], [Password]) VALUES (1, N'T1001', 0x496E647921313233)
INSERT [dbo].[Teller] ([TellerId], [LoginName], [Password]) VALUES (2, N'T1002', 0x496E647921313233)
INSERT [dbo].[Teller] ([TellerId], [LoginName], [Password]) VALUES (3, N'T1003', 0x496E647921313233)
SET IDENTITY_INSERT [dbo].[Teller] OFF
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([TransactionId], [AccountNumber], [Amount], [TransactionDateTime], [Type], [Mode], [Remarks], [Info], [CreatedBy], [Location], [Limit], [IP_ADDRESS], [ZIPCODE]) VALUES (1, N'007066100000001', 5000.0000, CAST(N'2019-04-16T16:33:00' AS SmallDateTime), 1, N'Teller', N'Account credited with Rs.5000', N'Teller/T1001', N'T1001', N'India', 5000, N'192.168.0.1', 110001)
INSERT [dbo].[Transaction] ([TransactionId], [AccountNumber], [Amount], [TransactionDateTime], [Type], [Mode], [Remarks], [Info], [CreatedBy], [Location], [Limit], [IP_ADDRESS], [ZIPCODE]) VALUES (2, N'007066100000002', 5000.0000, CAST(N'2019-04-16T16:33:00' AS SmallDateTime), 1, N'Teller', N'Account credited with Rs.5000', N'Teller/T1001', N'T1001', N'India', 5000, N'192.168.0.1', 110001)
INSERT [dbo].[Transaction] ([TransactionId], [AccountNumber], [Amount], [TransactionDateTime], [Type], [Mode], [Remarks], [Info], [CreatedBy], [Location], [Limit], [IP_ADDRESS], [ZIPCODE]) VALUES (3, N'007066100000003', 5000.0000, CAST(N'2019-04-16T16:33:00' AS SmallDateTime), 1, N'Teller', N'Account credited with Rs.5000', N'Teller/T1001', N'T1001', N'India', 5000, N'192.168.0.1', 110001)
GO
SET IDENTITY_INSERT [dbo].[Transaction] OFF
INSERT [dbo].[Users] ([EmailId], [UserPassword], [RoleId], [Gender], [DateOfBirth], [Address], [Location], [Security_Answer], [Security_Pin], [Contact_No], [ZIPCODE]) VALUES (N'Ab@xyz.com', N'abcvdf', 2, N'M', CAST(N'0001-01-01' AS Date), N'Rohtak Haryana', N'india', N'dog', 123456, 9876543210, 110001)
INSERT [dbo].[Users] ([EmailId], [UserPassword], [RoleId], [Gender], [DateOfBirth], [Address], [Location], [Security_Answer], [Security_Pin], [Contact_No], [ZIPCODE]) VALUES (N'Abc@xyz.com', N'abcvdf', 2, N'M', CAST(N'0001-01-01' AS Date), N'Rohtak Haryana', N'india', N'dog', 123456, 9876543210, 110001)
INSERT [dbo].[Users] ([EmailId], [UserPassword], [RoleId], [Gender], [DateOfBirth], [Address], [Location], [Security_Answer], [Security_Pin], [Contact_No], [ZIPCODE]) VALUES (N'akash@gupta.com', N'jack', 1, N'M', CAST(N'2015-11-11' AS Date), N'Malabu Beach', N'Goa', N'Bruno', 211221, 9512233511, 208001)
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__BE2ACD6F3E87DF1F]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AccountC__24602B22EA6FE794]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[AccountCustomerMapping] ADD UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC,
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AccountC__BE2ACD6FE60E6C60]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[AccountCustomerMapping] ADD UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_Branch_BranchCode]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[Branch] ADD  CONSTRAINT [uq_Branch_BranchCode] UNIQUE NONCLUSTERED 
(
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_Branch_IFSC]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[Branch] ADD  CONSTRAINT [uq_Branch_IFSC] UNIQUE NONCLUSTERED 
(
	[IFSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_CategoryName]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [uq_CategoryName] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_Customer_EmailId]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [uq_Customer_EmailId] UNIQUE NONCLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__DB8464FFBFDBC187]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[CustomerLogin] ADD UNIQUE NONCLUSTERED 
(
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DebitCar__136D27849D911AA1]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[DebitCard] ADD UNIQUE NONCLUSTERED 
(
	[DebitCardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__DebitCar__FFA560FF76E1988E]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[DebitCard] ADD UNIQUE NONCLUSTERED 
(
	[AccountCustomerMappingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_ProductName]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [uq_ProductName] UNIQUE NONCLUSTERED 
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_CategoryId]    Script Date: 5/21/2019 1:21:50 PM ******/
CREATE NONCLUSTERED INDEX [ix_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_EmailId]    Script Date: 5/21/2019 1:21:50 PM ******/
CREATE NONCLUSTERED INDEX [ix_EmailId] ON [dbo].[PurchaseDetails]
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_ProductId]    Script Date: 5/21/2019 1:21:50 PM ******/
CREATE NONCLUSTERED INDEX [ix_ProductId] ON [dbo].[PurchaseDetails]
(
	[Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_RoleName]    Script Date: 5/21/2019 1:21:50 PM ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [uq_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_RoleId]    Script Date: 5/21/2019 1:21:50 PM ******/
CREATE NONCLUSTERED INDEX [ix_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [LockedBalance]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [dbo].[AccountCustomerMapping] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [df_Customer_cts]  DEFAULT (getdate()) FOR [CreatedTimeStamp]
GO
ALTER TABLE [dbo].[CustomerLogin] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[DebitCard] ADD  DEFAULT (getdate()) FOR [ValidFrom]
GO
ALTER TABLE [dbo].[DebitCard] ADD  DEFAULT (getdate()) FOR [ValidThru]
GO
ALTER TABLE [dbo].[DebitCard] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[DebitCard] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DebitCard] ADD  DEFAULT (getdate()) FOR [CreatedTimestamp]
GO
ALTER TABLE [dbo].[PurchaseDetails] ADD  DEFAULT (getdate()) FOR [DateOfPurchase]
GO
ALTER TABLE [dbo].[Transaction] ADD  DEFAULT (getdate()) FOR [TransactionDateTime]
GO
ALTER TABLE [dbo].[Transaction] ADD  DEFAULT ('India') FOR [Location]
GO
ALTER TABLE [dbo].[Transaction] ADD  DEFAULT ((5000)) FOR [Limit]
GO
ALTER TABLE [dbo].[Transaction] ADD  CONSTRAINT [DFK]  DEFAULT ('192.168.0.1') FOR [IP_ADDRESS]
GO
ALTER TABLE [dbo].[Transaction] ADD  DEFAULT ((110001)) FOR [ZIPCODE]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((2)) FOR [RoleId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('India') FOR [Location]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Tiger') FOR [Security_Answer]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((123456)) FOR [Security_Pin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((110001)) FOR [ZIPCODE]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [fk_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([BranchId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [fk_BranchId]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [fk_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Teller] ([TellerId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [fk_CreatedBy]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [fk_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Teller] ([TellerId])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [fk_ModifiedBy]
GO
ALTER TABLE [dbo].[AccountCustomerMapping]  WITH CHECK ADD FOREIGN KEY([AccountNumber])
REFERENCES [dbo].[Account] ([AccountNumber])
GO
ALTER TABLE [dbo].[AccountCustomerMapping]  WITH CHECK ADD  CONSTRAINT [fk_CustomerId1] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[AccountCustomerMapping] CHECK CONSTRAINT [fk_CustomerId1]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [fk_Customer_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Teller] ([TellerId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [fk_Customer_CreatedBy]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [fk_Customer_Mb] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Teller] ([TellerId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [fk_Customer_Mb]
GO
ALTER TABLE [dbo].[CustomerLogin]  WITH CHECK ADD  CONSTRAINT [fk_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerLogin] CHECK CONSTRAINT [fk_CustomerId]
GO
ALTER TABLE [dbo].[DebitCard]  WITH CHECK ADD  CONSTRAINT [fk_AccountCustomerMappingId] FOREIGN KEY([AccountCustomerMappingId])
REFERENCES [dbo].[AccountCustomerMapping] ([AccountCustomerMappingId])
GO
ALTER TABLE [dbo].[DebitCard] CHECK CONSTRAINT [fk_AccountCustomerMappingId]
GO
ALTER TABLE [dbo].[DebitCard]  WITH CHECK ADD  CONSTRAINT [fk_CreatedBy1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Teller] ([TellerId])
GO
ALTER TABLE [dbo].[DebitCard] CHECK CONSTRAINT [fk_CreatedBy1]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [fk_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [fk_CategoryId]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [fk_EmailId] FOREIGN KEY([EmailId])
REFERENCES [dbo].[Users] ([EmailId])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [fk_EmailId]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [fk_ProductId] FOREIGN KEY([Product])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [fk_ProductId]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([AccountNumber])
REFERENCES [dbo].[Account] ([AccountNumber])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [chk_Balance] CHECK  (([Balance]>=(0)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [chk_Balance]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [chk_LockedBal] CHECK  (([Balance]>=[LockedBalance]))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [chk_LockedBal]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [chk_LockedBalance] CHECK  (([LockedBalance]>=(0)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [chk_LockedBalance]
GO
ALTER TABLE [dbo].[CardDetails]  WITH CHECK ADD  CONSTRAINT [chhk_Balance] CHECK  (([Balance]>=(0)))
GO
ALTER TABLE [dbo].[CardDetails] CHECK CONSTRAINT [chhk_Balance]
GO
ALTER TABLE [dbo].[CardDetails]  WITH CHECK ADD  CONSTRAINT [chk_CardType] CHECK  (([CardType]='V' OR [CardType]='M' OR [CardType]='A'))
GO
ALTER TABLE [dbo].[CardDetails] CHECK CONSTRAINT [chk_CardType]
GO
ALTER TABLE [dbo].[CardDetails]  WITH CHECK ADD  CONSTRAINT [chk_ExpiryDate] CHECK  (([ExpiryDate]>=getdate()))
GO
ALTER TABLE [dbo].[CardDetails] CHECK CONSTRAINT [chk_ExpiryDate]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_Customer_DOB] CHECK  ((datediff(dayofyear,[DateOfBirth],getdate())>=(18)))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_Customer_DOB]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [chk_Price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [chk_Price]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [chk_ProductId] CHECK  (([ProductId] like 'P%'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [chk_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [chk_QuantityAvailable] CHECK  (([QuantityAvailable]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [chk_QuantityAvailable]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [chk_DateOfPurchase] CHECK  (([DateOfPurchase]<=getdate()))
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [chk_DateOfPurchase]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [chk_QuantityPurchased] CHECK  (([QuantityPurchased]>(0)))
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [chk_QuantityPurchased]
GO
ALTER TABLE [dbo].[Teller]  WITH CHECK ADD  CONSTRAINT [chk_Teller_LoginName] CHECK  (([LoginName] like 'T____'))
GO
ALTER TABLE [dbo].[Teller] CHECK CONSTRAINT [chk_Teller_LoginName]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [chk_Amount] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [chk_Amount]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD CHECK  (([ZIPCODE]>=(100000) AND [ZIPCODE]<=(999999)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [chk_DateOfBirth] CHECK  (([DateOfBirth]<getdate()))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [chk_DateOfBirth]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [chk_Gender] CHECK  (([Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [chk_Gender]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Security_Pin]>=(100000) AND [Security_Pin]<=(999999)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([ZIPCODE]>=(100000) AND [ZIPCODE]<=(999999)))
GO
/****** Object:  StoredProcedure [dbo].[usp_AddProduct]    Script Date: 5/21/2019 1:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_AddProduct]
(
	@ProductId CHAR(4),
	@ProductName VARCHAR(50),
	@CategoryId TINYINT,
	@Price NUMERIC(8),
	@QuantityAvailable INT
)
AS
BEGIN
	DECLARE @retval int
	BEGIN TRY
		IF (@ProductId IS NULL)
			SET @retval = -1
		ELSE IF (@ProductId NOT LIKE 'P%' or LEN(@ProductId)<>4)
			SET @retval = -2
		ELSE IF (@ProductName IS NULL)
			SET @retval = -3
		ELSE IF (@CategoryId IS NULL)
			SET @retval = -4
		ELSE IF NOT EXISTS(SELECT CategoryId FROM Categories WHERE CategoryId=@CategoryId)
			SET @retval = -5
		ELSE IF (@Price<=0 OR @Price IS NULL)
			SET @retval = -6
		ELSE IF (@QuantityAvailable<0 OR @QuantityAvailable IS NULL)
			SET @retval = -7
		ELSE
			BEGIN
				INSERT INTO Products VALUES 
				(@ProductId,@ProductName, @CategoryId, @Price, @QuantityAvailable)
				SET @retval = 1
			END
		SELECT @retval 
	END TRY
	BEGIN CATCH
		SET @retval = -99
		SELECT @retval 
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertPurchaseDetails]    Script Date: 5/21/2019 1:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsertPurchaseDetails]
(
	@EmailId VARCHAR(50),
	@ProductId CHAR(4),
	@QuantityPurchased INT,
	@PurchaseId BIGINT OUTPUT
)
AS
BEGIN
	DECLARE @retval int
	SET @PurchaseId=0	
		BEGIN TRY
			IF (@EmailId IS NULL)
				SET @retval = -1
			ELSE IF NOT EXISTS (SELECT @EmailId FROM Users WHERE EmailId=@EmailId)
				SET @retval = -2
			ELSE IF (@ProductId IS NULL)
				SET @retval = -3
			ELSE IF NOT EXISTS (SELECT ProductId FROM Products WHERE ProductId=@ProductId)
				SET @retval = -4
			ELSE IF ((@QuantityPurchased<=0) OR (@QuantityPurchased IS NULL))
				SET @retval = -5
			ELSE
				BEGIN
					INSERT INTO PurchaseDetails VALUES (@EmailId, @ProductId, @QuantityPurchased, DEFAULT)
					SELECT @PurchaseId=IDENT_CURRENT('PurchaseDetails')
					UPDATE Products SET QuantityAvailable=QuantityAvailable-@QuantityPurchased WHERE ProductId=@ProductId			
					SET @retval = 1
				END
			SELECT @retval 
		END TRY
		BEGIN CATCH
			SET @PurchaseId=0			
			SET @retval = -99
			SELECT @retval 
		END CATCH
	END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateBalance]    Script Date: 5/21/2019 1:21:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateBalance]
(
	@CardNumber NUMERIC(16),
	@NameOnCard VARCHAR(40),
	@CardType CHAR(6),
	@CVVNumber NUMERIC(3),
	@ExpiryDate DATE,
	@Price DECIMAL(8)
)
AS
BEGIN
	DECLARE @TempUserName VARCHAR(40), @TempCardType CHAR(6), @TempCVVNumber NUMERIC(3), @TempExpiryDate DATE, @Balance DECIMAL(8), @retval int
	BEGIN TRY
		IF (@CardNumber IS NULL)
			SET @retval = -1
		ELSE IF NOT EXISTS(SELECT * FROM CardDetails WHERE CardNumber=@CardNumber)
			SET @retval = -2
		ELSE
			BEGIN
				SELECT @TempUserName=NameOnCard, @TempCardType=CardType, @TempCVVNumber=CVVNumber, @TempExpiryDate=ExpiryDate, @Balance=Balance 
				FROM CardDetails 
				WHERE CardNumber=@CardNumber
				IF ((@TempUserName<>@NameOnCard) OR (@NameOnCard IS NULL))
					SET @retval = -3
				ELSE IF ((@TempCardType<>@CardType) OR (@CardType IS NULL))
					SET @retval = -4
				ELSE IF ((@TempCVVNumber<>@CVVNumber) OR (@CVVNumber IS NULL))
					SET @retval = -5			
				ELSE IF ((@TempExpiryDate<>@ExpiryDate) OR (@ExpiryDate IS NULL))
					SET @retval = -6
				ELSE IF ((@Balance<@Price) OR (@Price IS NULL))
					SET @retval = -7
				ELSE
					BEGIN
						UPDATE Carddetails SET Balance=Balance-@Price WHERE CardNumber=@CardNumber
						SET @retval = 1
					END
			END
		SELECT @retval 
	END TRY
	BEGIN CATCH
		SET @retval = -99
		SELECT @retval 
	END CATCH
END
GO
USE [master]
GO
